@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Tickets are open information and can be read by anyone with access to the system. Please keep the information clean of private data.</p>
